<div class="jumbotron text-center">
  <h1><span class="text-info"><%= t "layouts.welcome" %></span></h1>
</div>
<hr>
<div class="col-md-2 col-md-offset-5">
  <%= link_to t("layouts.sign_up"), "#",
    class: "btn btn-lg btn-primary btn-block" %>
</div>
