<% provide :title, @course_subject.subject_name %>

<div class="col-md-2">
  <table class="table table-hover">
    <tr>
      <div class= "btn btn-default">
        <h1>
          <%= @course_subject.subject_name %>
        </h1>
      </div>
    </tr>
    <tr>
      <div class="subject-status">
        <%= render "subject_status" %>
      </div>
    </tr>
  </table>
</div>

<div class="col-md-10">
  <div class="update-tasks">
    <%= render "update_tasks" %>
  </div>

</div>
<div class="col-md-10 col-md-offset-1">
  <div class= "col-md-12 panel panel-default">
    <p>
      <h4><%= @course_subject.subject_description %></h4><br>
    </p>
  </div>
</div>
