<%= provide :title, t("user_courses.all_courses") %>

<div>
  <h3><%= t "user_courses.all_courses" %></h3>
  <br>
  <ul class="list-inline">
    <% current_user.user_courses.each do |user_course| %>
      <% if user_course.course.started? %>
        <li>
          <%= link_to user_course.course.name, user_course.course,
            class: "btn btn-lg btn-success" %>
        </li>
      <% else %>
        <li>
          <p class="btn btn-lg btn-default course-not-started">
            <%= user_course.course.name %>
          </p>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
