<div class="row">
  <ol class="user-show-subject">
    <hr>
    <center>
      <h4><%= user_subject.course_subject.subject.name %></h4>
    </center>
    <li>
      <% user_subject.course_subject.course_subject_tasks.each do
        |subject_task| %>
        <%= render "task", subject_task: subject_task,
          user_subject: user_subject,
          user_task: find_user_task(user_subject, subject_task) %>
      <% end %>
    </li>
  </ol>
</div>
