<div class="row">
  <div class="col-md-9">
    <h4><strong><%= subject_task.task.name %></strong></h4>
  </div>
  <div class="col-md-3">
    <h4><%= user_task ? t("finised") : t("not_finised") %></h4>
  </div>
</div>
