<%= @supervisor.name %>
<div class="container">
  <% if @courses.any? %>
    <% @courses.each do |course| %>
      <h3><%= course.name %></h3>
      <aside>
        <p><%= t "status_is", status: course.status %></p>
      </aside>
      <%= render "shared/mailer/general_table", course: course %>
    <% end %>
  <% end %>
</div>
