<div>
  <h3><%= @supervisor.name %></h3>
  <div class="container">
    <h4><%= @course.name %></h4>
    <aside>
      <p><%= t "status_is", status: @course.status %></p>
    </aside>
    <%= render "shared/mailer/general_table", course: @course %>
  </div>
</div>
